<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/whitney-2" rel="stylesheet">

    <link rel="shortcut icon" href="https://www.twilio.com/docs/static/img/favicons/favicon.256e882a0.ico" />
    <link rel="apple-touch-icon" href="https://www.twilio.com/docs/static/img/favicons/favicon_57.256e882a0.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://www.twilio.com/docs/static/img/favicons/favicon_72.256e882a0.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://www.twilio.com/docs/static/img/favicons/favicon_114.256e882a0.png" />
</head>

<body style="box-sizing: border-box; font-family: 'Whitney'; background: #F22F46;">
    <div class="page"></div>
    <div
        style="width: 60%;margin-left: 20%; margin-top: 5%; margin-right: 20%; border-radius:10px; background: #f9f9f9; ">
        <div class="header" style=" text-align: center; padding-top: 5%; color:#0D122B">
            <h1>
                <%= title %>
            </h1>
            <p style="width: 50%; margin: auto;">
                <%= subtitle %>
            </p>
        </div>
        <div class="card-container" style="display:table; width:100%; height: 800 px; ">
            <div style="display: table-cell; text-align:center; width:50%; vertical-align: middle;" class="logo-div">
                <img style="width:50%; margin-bottom:10%; vertical-align: middle;"
                    src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Twilio-logo-red.svg" alt="Twilio logo">
            </div>
            <div style="display: table-cell;" class="form-container">
                <form action="/signup" id="contact-form" method="post"
                    style="margin: 10%; margin-left:5%; width: 350px;">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="+6591234567"
                            required>
                        <small id="phoneHelp" class="form-text text-muted">We'll never share your contact details with
                            anyone
                            else.</small>
                    </div>
                    <label for="contactPreference">Contact Preference</label><br />
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="emailPreferred" name="contactpreference"
                            value="Email" checked required>
                        <label for="emailPreferred" class="form-check-label">Email</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="phonePreferred" name="contactpreference"
                            value="Phone" required>
                        <label for="phonePreferred" class="form-check-label">Phone</label>
                    </div>

                    <br /><br />
                    <button type="submit" style="background:#0263e0 !important;"
                        class="btn btn-primary">Subscribe</button>

                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>